<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainy.sys.mapper.RoleMapper">

    <select id="listRolesByUserId" resultType="com.rainy.sys.entity.Role">
        select r.id,r.code from t_role r
        left join t_user_role_rel ur on r.id = ur.role_id
        where ur.user_id = #{userId} and r.deleted = 0
    </select>

</mapper>
